.ui-toolbar .ui-toolbar-group-left {
	float: none;
}

#tblForm\:homeMngButton {
	display: inline;
	float: right;
}

.newPanel tr, .newPanel td {
	border: 3px;
	//
	none
	!important;
}

.tabRig tbody td {
	padding: 1px !important;
}

table img {
	display: block;
	margin: 0 auto;
}

div.ui-datatable-tablewrapper {
    text-shadow: none;
}