form#mngForm, form#mngListeForm{
	font-size: 2em;
	max-width: 33%;
	margin: 40px auto 0px auto;
}

form#mngListeForm{
	font-size: 1.5em;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.foto {
	background-image: url('#{request.contextPath}/resources/gfx/foto/varie/foto.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right center;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.allegati {
	background-image: url('#{request.contextPath}/resources/gfx/foto/varie/allegati.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right center;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.tipi {
	background-image: url('#{request.contextPath}/resources/gfx/foto/varie/tipi.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right center;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.articoli {
	background-image: url('#{request.contextPath}/resources/gfx/foto/varie/articoli.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right center;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.produttori {
	background-image: url('#{request.contextPath}/resources/gfx/foto/varie/produttori.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right center;
}

button.ui-button .ui-button-text {
	padding-right: 2.8em;
}
