<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Copyright (c) 2013 Les Hazlewood and contributors ~ ~ Licensed under 
	the Apache License, Version 2.0 (the "License"); ~ you may not use this file 
	except in compliance with the License. ~ You may obtain a copy of the License 
	at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 ~ ~ Unless required by 
	applicable law or agreed to in writing, software ~ distributed under the 
	License is distributed on an "AS IS" BASIS, ~ WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. ~ See the License for the specific 
	language governing permissions and ~ limitations under the License. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<session-config>
        <session-timeout>
            60 <!-- minutes -->
        </session-timeout>
    </session-config>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<!-- error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/errorpages/unauthorized.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/errorpages/unauthorized.xhtml</location>
	</error-page-->
	<error-page>
		<exception-type>org.apache.shiro.authz.AuthorizationException</exception-type>
		<location>/WEB-INF/errorpages/unauthorized.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>org.apache.shiro.authz.UnauthorizedException</exception-type>
		<location>/WEB-INF/errorpages/unauthorized.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/WEB-INF/errorpages/db_ex.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>org.hibernate.*</exception-type>
		<location>/WEB-INF/errorpages/db_ex.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>org.postgresql.*</exception-type>
		<location>/WEB-INF/errorpages/db_ex.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.IllegalStateException</exception-type>
		<location>/WEB-INF/errorpages/db_ex.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>javax.faces.el.EvaluationException</exception-type>
		<location>/WEB-INF/errorpages/db_ex.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>javax.persistence.PersistenceException</exception-type>
		<location>/WEB-INF/errorpages/db_ex.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>javax.persistence.*</exception-type>
		<location>/WEB-INF/errorpages/db_ex.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>org.hibernate.exception.ConstraintViolationException</exception-type>
		<location>/WEB-INF/errorpages/db_ex.xhtml</location>
	</error-page>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
</web-app>